{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ 'The Document' }}</h1>
    <hr>
    <form action method="post" class="form" role="form" >
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-2">
                {% if purpose == 'view_only' %}
                    <input class="btn btn-primary" id="sbmBack" name="sbmBack" type="submit" value="Go back to list">
                {% else %}
                    <input class="btn btn-primary" id="sbmBack" name="sbmBack" type="submit" value="I will keep this">
                {% endif %}
            </div>
            <div class="col-md-2">
                {% if purpose == 'delete' %}
                    <input class="btn btn-primary" id="sbmDelete" name="sbmDelete" type="submit" value="I'd rather forget!">
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <label for="slcType">Memory Type</label>
                <input class="form-control form-control-lg" type="text" id="strFileName" name="strFilemname" value="{{ memory.type }}" readonly>
            <br>
            </div>
        </div>
        <div class="row">
            <iframe class="frame-border scroll-pane" src="static/{{ filename }}" frameborder="0"></iframe>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <label for="slcPostedOn">{{ 'Posted or last changed on'.title() }}</label>
                    <input class="form-control form-control-lg" type="text" id="slcType" name="slcType" value="{{ memory.get_datestring() }}" readonly>
                <br>
            </div>
        </div>
    </form>
{% endblock %}
