{% extends 'bootstrap/base.html' %}

<html>
	<head>
		{%if title%}
			<title>{{title}} - Microblog</title>
		{%else%}
			<title>Welcome to Microblog</title>
		{%endif%}
	</head>
	
	<body>
		<div>Microblog: <a href="{{ url_for('index') }}"><b>Home<b></a>
		{% if current_user.is_anonymous %}
				<a href="{{ url_for('login') }}"><b>Login<b></a></div>
		{% else %}
				<a href="{{ url_for('explore') }}"><b>Explore</b></a>
				<a href="{{ url_for('user', username = current_user.username) }}"><b>Profile</b></a>
				<a href="{{ url_for('logout') }}"><b>Logout</b></a></div>
		{% endif %}
		<hr>
		{%block content%}{%endblock%}
	</body>
</html>
